/* desktop */

@media (min-width : 1221px){
    #hamberMenu{
        display: none;
    }
}

/* Tablet */
@media (max-width : 1221px){
    #container{
        gap: 10px;
        justify-content: space-between;
        grid-template-columns: 20% 30% 20%;
    }
    #menuList{
        display: none;
    }
}

/* Mobile */
@media (max-width : 821px){
    #container{
        grid-template-columns: 10% 30% 30%;
    }
}
@media (max-width : 600px){
    #imagebox{
        display: none;
    }
    #container{
        width: 98%;
        grid-template-columns: 10% 50%;
    }
}
@media (min-width : 600px){
    #imageSm{
        display: none;
    }
}