.container{
    display: grid;
    align-items: center;
    justify-items: center;
    width: 250px;
    height: 200px;
}

.iconbox{
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background-color: white;
}

.container h1{
    font-size: 25px;
}

@media (max-width : 1111px){
    .container h1{
        font-size: 15px;
    }
}