*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.heroContent{
    text-align: center;
    margin-top: -20px;
}

.heroContent h1{
    color: white;
    font-size: 30px;
}

@media (max-width : 500px){
    .heroContent h1{
        font-size: 25px;
    }
}

.heroContent p{
    color: #FFFFFFC2;
    font-size: 20px;
}

@media (max-width : 430px){
    .heroContent p{
        font-size: 25px;
    }
}

.waveTop{
    margin-top: -5px;
}