.orginContainer{
    padding: 50px 0;
}

.sectionItemContainer{
    display: flex;
    gap: 20px;
}

.FeatureCardContainer{
    display: flex;
    justify-content: space-evenly;
}

@media (max-width : 1221px){
    .sectionItemContainer{
        justify-content: space-around;
    }
}
@media (max-width : 666px){
    .sectionItemContainer{
        display: grid;
    }
    .FeatureCardContainer{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(2,auto);
    }
}
@media (max-width : 500px){
    .FeatureCardContainer{
        grid-template-columns: 1fr;
    }
}


.content{
    display: grid;
    align-content: center;
    justify-content: center;
    padding: 0 50px;
    width: 100%;
}

.imagebox{
    width: 100%;
    height: 100%;
    margin: 0 30px;
}
.image{
    width: 100%;
    height: 100%;
}
.image5{
    width: 450px;
    height: 400px;
}
